@model IEnumerable<Company_Reviewing_System.Models.ClaimRequestDto>

@{
    ViewData["Title"] = "View Pending Requests";
}

<h1>ViewPendingRequests</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentificationCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProofOfWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedInAccount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificationCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProofOfWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkedInAccount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
