@model Company_Reviewing_System.Models.CompanyPage

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CompanyPage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headquarters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headquarters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Industry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Industry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubscribersEmails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubscribersEmails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PendingStatusChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PendingStatusChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsScoreUpToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsScoreUpToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CompanyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
